@font-face {
  font-family: "Oswald Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald Medium";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
body {
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
}

.page-container {
  width: 320px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #68b738;
  border-color: transparent;
}

.location {
  background-color: #f2f2f2;
}

.location--main {
  background-color: #ffffff;
}

.location__title {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #000000;
}

.location__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
}

.location__map {
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 362px;
}

.header {
  background-color: #ffffff;
  display: flex;
  padding: 20px 10px;
}

.header__logo {
  margin-right: 21px;
}

.header__logo--center {
  margin: 0 20px;
}

.navigation__list {
  list-style-type: none;
}

.navigation__link {
  text-decoration: none;
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

.navigation__item {
  padding-bottom: 14px;
}

.hero-section {
  background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/index-background.png");
  background-color: #adff2f;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 320px;
  min-height: 300px;
}

.hero-section__title {
  margin: 0;
  padding-top: 27px;
  font-family: "Oswald Medium", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  line-height: 36px;
  color: #ffffff;
}

.hero-section__slogan {
  padding-top: 25px;
  font-family: "Oswald Regular", sans-serif;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
}

.advantages__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantages__title {
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.advantages__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin: 0;
  padding-bottom: 42px;
  padding-left: 20px;
  padding-right: 33px;
}

.advantages__link {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #444444;
  padding-left: 19px;
}

.advantages__container {
  margin: 20px;
  background-color: #f2f2f2;
}

.instruction__title {
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
  margin: 0;
  padding-bottom: 42px;
}

.instruction__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 28px;
}

.instruction__item {
  padding-bottom: 26px;
}

.instruction__description {
  margin: 0;
}

.example {
  background-color: #f2f2f2;
  padding-left: 20px;
  min-height: 659px;
}

.example__title {
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.example__title--main {
  font-size: 36px;
  line-height: 40px;
  padding-bottom: 40px;
  padding-top: 25px;
  padding-left: 20px;
}

.example__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.example__info {
  display: flex;
}

.example__span {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.main-form__title {
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  margin: 0;
  padding: 0;
  color: #000000;
  margin-top: 27px;
  margin-bottom: 37px;
}

.main-form__description {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
}

.main-form__required {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.fieldset-list {
  list-style-type: none;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.fieldset-list__item {
  padding-bottom: 41px;
}

.fieldset-list__label {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.fieldset-list__input {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.radio-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.radio-list__item {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 25px;
}

.fieldset-contacts__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.fieldset-contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fieldset-contacts__label {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.fieldset-contacts__input {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
}

.fieldset-contacts__item {
  margin-bottom: 40px;
}

.fieldset-comment__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.fieldset-comment__textarea {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 22px;
}

.fieldset-additional__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}

.fieldset-additional__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.fieldset-additional__item {
  margin-bottom: 25px;
}

.fieldset-additional__label {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.catalog__title {
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  margin: 0;
  padding-bottom: 42px;
}

.product-card__title {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 103px;
}

.product-card__options {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.product-card__description {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  margin-top: 8px;
  margin-bottom: 21px;
}

.product-card__td {
  padding-right: 74px;
}

.additional__title {
  font-family: "Oswald Medium", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 50px;
}

.additional__th {
  font-family: "Oswald Regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
}

.additional__td {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.sale-block {
  background-image: linear-gradient(rgba(105, 183, 56, 0.85), rgba(105, 183, 56, 0.85)), url("../img/sale-block.png");
  background-color: #adff2f;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  width: 100%;
  min-height: 289px;
  margin-top: 55px;
  margin-bottom: 35px;
}

.sale-block__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

.social {
  background-color: #f2f2f2;
}

.social__list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.html-logo {
  text-decoration: none;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
}

.social__logo {
  padding: 40px 96px;
}
/*# sourceMappingURL=style.css.map */